img {
    width: 100%;
    height: 100%;
}

.header_img {
    background-image: url("../assets/app_header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:500px;
    min-width:100%;
}

.footer_img {
    background-image: url("../assets/app_footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:300px;
    height:200px;
    min-width:100%;
}

* {
    font-family: Poppins;
}

body {
    background: #F3F3F3;
}

#co-name {
    position: absolute;
    top: 3%;
    left: 3%;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

#trending-title {
    font-family: Poppins;
    color: white;
    display: flex;
    position: absolute;
    top: 15%;
    left: 8%;
    font-size: 40px;
}

.cards-wrapper {
    display: block;
    position: absolute;
    top: 25%;
    left: 20%;
    min-width: 60%;
}

.topic-wrapper {
    min-height: 250px;
}

#causes-title {
    font-family: Poppins;
    color: #3C2A4D;
    display: flex;
    position: relative;
    top: 10px;
    left: 150px;
    font-size: 40px;
}

.cause-wrapper {
    position: relative;
    top: 40px;
    margin: auto;
    max-width: 800px;
}

.cause {
    position: relative;
    background: #FAFAFA;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 15px 0px;
    padding: 27px 41px;
    max-width: 800px;
}

.cause img[id="fav"]{
    position: relative;
    height: 25px;
    width: 25px;
    float: right;
}

.cause img[id="right"]{
    position: relative;
    transform: rotate(-90deg);
    height: 25px;
    width: 25px;
    float: left;
}

.cause img[id="logo"]{
    position: relative;
    height: 25px;
    width: 25px;
    float: left;
    margin:0 8px;
}

.text{
    font-family: Poppins;
    color: black;
    /* font-weight: bold; */
    position: relative;
    margin:0 8px;
}

#cause-filter {
    position: relative;
    top: 25px;
    left: 180px;
}

#signup-btn {
    font-family: Poppins;
    position: absolute;
    top: 40px;
    right: 40px;
}

#socials {
    position: relative;
    display: flex;
    bottom: 100px;
    justify-content: center;
}