* {
    font-family: Poppins;
}

body {
    background: #F3F3F3;
}


#co-name {
    position: absolute;
    display: flex;
    top: 3%;
    left: 3%;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}

#socials {
    position: relative;
    display: flex;
    bottom: 20px;
    justify-content: center;
}

#signin-btn {
    position: absolute;
    font-family: Poppins;
    border: 1px solid #503A65;
    border-radius: 20px;
    color: #503A65;
    top: 3%;
    right: 3%;
}

#signin-btn:hover{
    background-color: #b6b6b6;
}

#profile-icon {
    /* this isnt working and im not sure why */
    fill: white; 
}

#smaller-text {
    font-size: 15px;
}