* {
    font-family: Poppins;
}

body {
    background: #F3F3F3;
}


#co-name {
    position: absolute;
    display: flex;
    top: 3%;
    left: 3%;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}

#socials {
    position: relative;
    display: flex;
    bottom: 20px;
    justify-content: center;
}

#signin-btn {
    position: absolute;
    font-family: Poppins;
    border: 1px solid #503A65;
    border-radius: 20px;
    color: #503A65;
    top: 3%;
    right: 3%;
}

#signin-btn:hover{
    background-color: #b6b6b6;
}

#profile-icon {
    /* this isnt working and im not sure why */
    fill: white; 
}

#smaller-text {
    font-size: 15px;
}

.form-container {
    position: relative;
    top:40%;
    width: 40%;
    margin: auto;
    padding:20px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    font-size: 20px;

    box-shadow: 0 0 10px 5px rgb(223, 223, 223);
}

.form-container h2 {
    color: #3C2A4D;
}

input[type="text"] {
    width:90%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid #3C2A4D;

    color: #3C2A4D;
    opacity: 0.8;
}

::placeholder {
    color: #3C2A4D;
}

input[type=submit] {
    width:60%;
    background: #95ADBE;
    border: 0px;
    border-radius: 8px;
    color: white;
}