img {
    width: 100%;
    height: 100%;
}

#co-name {
    position: absolute;
    top: 40px;
    left: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

#signup-btn {
    position: absolute;
    top: 40px;
    right: 40px;
}

#socials {
    position: relative;
    display: flex;
    bottom: 100px;
    justify-content: center;
}
