.header_img {
    background-image: url("../images/app_header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:500px;
    min-width:100%;
}

.footer_img {
    background-image: url("../images/app_footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:300px;
    height:200px;
    min-width:100%;
}

#app-references {
    width: 250px;
}

.trending-container {
    margin-top: 10rem;
}

.news-card-style {
    border-radius: 1rem;
    height: 200px;
    width: 100%;
    z-index: 4;
}

.charity-card-style-top {
    margin-top: -7rem;
    border-radius: 1rem;
    position: relative;
    height: 200px;
    width: 100%;
    z-index: 3;
}

.charity-card-style-top:hover {
    z-index: 5;
    margin-top: 0;
}

.charity-card-style-middle {
    border-radius: 1rem;
    margin-top: -7rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.charity-card-style-middle:hover {
    z-index: 5;
    margin-top: 0;
}

.charity-card-style-bottom {
    margin-top: -7rem;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 1;
    position: relative;
    height: 200px;
    width: 100%;
}

.charity-card-style-bottom:hover {
    z-index: 5;
    margin-top: 0;
}

#trending-title {
    font-family: Poppins;
    color: white;
    display: flex;
    position: relative;
    top: 25%;
    left: 8%;
    font-size: 40px;
    width: 80%;
}

.card-header {
    background: white;
    border: 0px;
}

.card {
    box-shadow: 0 4px 2px -2px rgb(211, 211, 211);
}

.cards-wrapper {
    display: block;
    position: relative;
    top: 30%;
    /* left: 20%; */
    min-width: 60%;
}

.topic-wrapper {
    min-height: 250px;
}

#causes-container {
    margin-top: 20rem;
}

#causes-title {
    font-family: Poppins;
    color: #3C2A4D;
    display: flex;
    position: relative;
    top: 27%;
    left: 8%;
    width:80%;
    font-size: 40px;
}

.cause-wrapper {
    position: relative;
    top: 40px;
    margin: auto;
    max-width: 80%;
}

.cause {
    position: relative;
    background: #FAFAFA;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 15px auto;
    padding: 27px 41px;
    max-width: 90%;
}

.cause img[id="fav"]{
    position: relative;
    height: 25px;
    width: 25px;
    float: right;
}

.cause img[id="right"]{
    position: relative;
    transform: rotate(-90deg);
    height: 25px;
    width: 25px;
    float: left;
}

.cause img[id="logo"]{
    position: relative;
    height: 25px;
    width: 25px;
    float: left;
    margin:0 8px;
}

.text{
    font-family: Poppins;
    color: black;
    /* font-weight: bold; */
    position: relative;
    margin:0 8px;
}

#cause-filter {
    position: relative;
    /* box-sizing: border-box; */
    top: 25px;
    left: 180px;
    min-width: 180px;
    max-width: 250px;
}

a {
    color: black;
}

a:hover {
    color: black;
}