* {
    font-family: Poppins;
}

body {
    background: #F3F3F3;
}

#co-name {
    position: absolute;
    display: flex;
    top: 3%;
    left: 3%;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}

#co-name:hover {
    text-shadow: 1px 1px 6px white;
    text-decoration: none;
}

#signin-btn {
    position: absolute;
    font-family: Poppins;
    border: 1px solid #503A65;
    border-radius: 20px;
    color: #503A65;
    top: 3%;
    right: 3%;
}

#signin-btn:hover{
    background-color: #b6b6b6;
}

#delete-btn {
    position: absolute;
    font-family: Poppins;
    border: 1px solid rgb(170, 0, 0);
    border-radius: 20px;
    color: rgb(170, 0, 0);
    top: 3%;
    right: 3%;
}

#delete-btn:hover{
    background-color: #b6b6b6;
}

#change-pass-btn {
    position: absolute;
    font-family: Poppins;
    border: 1px solid #503A65;
    border-radius: 20px;
    color: #503A65;
    top: 10%;
    right: 3%;
}

#change-pass-btn:hover{
    background-color: #b6b6b6;
}

#profile-icon {
    /* this isnt working and im not sure why */
    fill: white; 
}

.smaller-text {
    font-size: 15px;
}

.references-wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    position: absolute;
    top: 3%;
    right: 3%;
}

.how-btn-wrapper {
    font-weight: 700;
    color: black;
    border: 3px solid black;
    opacity: .3;
    background-color: white;
}

.options {
    display: block;
	font-size: 18px;
	font-weight: 500;
	color: #3C2A4D;
	padding: .6em 1.4em .5em .8em;
	width: 20%;
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('../images/filter.svg');
	background-repeat: no-repeat;
	background-position: right .7em top 50%;
	background-size: .65em auto;
}

.form-container {
    position: relative;
    top: 40%;
    width: 35%;
    margin: auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    font-size: 20px;

    box-shadow: 0 0 10px 5px rgb(223, 223, 223);
}

.form-container h2 {
    color: #3C2A4D;
}

input[type="text"] {
    width:90%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid #3C2A4D;

    color: #3C2A4D;
    opacity: 0.8;
}

::placeholder {
    color: #3C2A4D;
}

input[type=button] {
    width:60%;
    background: #95ADBE;
    border: 0px;
    border-radius: 8px;
    color: white;
}