.header_img {
    background-image: url("../images/login_header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:500px;
    min-width:100%;
}

.footer_img {
    background-image: url("../images/login_footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:300px;
    height:125px;
    min-width:100%;
}

form#signup-form fieldset label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    float: left;
    width: 30%;
    margin-left:2rem
}
  
form#signup-form fieldset label input[type='checkbox'] {
    margin-left: -18px;
}

a.blue-button:hover {
    text-decoration: none;
    color: white;
}